<ion-view title="Me Tab Default Page" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="meTabDefaultPage-card24">
            <ion-item class="item-avatar  " id="meTabDefaultPage-list-item8">
                <h2>sakshamsood</h2>
                <p>Bangalore</p>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <ion-item class="item-icon-left assertive  " id="meTabDefaultPage-list-item9">
                <i class="icon ion-person"></i>Joined on 02/12/2015</ion-item>
        </div>
        <div id="meTabDefaultPage-button-bar1" class=" button-bar ">
            <button id="meTabDefaultPage-button8" class=" button button-positive  button-block icon ion-happy-outline ">13</button>
            <button id="meTabDefaultPage-button9" class=" button button-positive  button-block icon ion-android-happy ">2</button>
            <button id="meTabDefaultPage-button10" class=" button button-positive  button-block icon ion-sad-outline ">3</button>
        </div>
    </ion-content>
</ion-view>