<ion-view title="Movie Page" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="moviePage-form4" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Movie Tickets">
            </label>
        </form>
        <div id="moviePage-button-bar2" class=" button-bar ">
            <button id="moviePage-button11" class=" button button-positive  button-block button-clear ">Location</button>
            <button id="moviePage-button12" class=" button button-positive  button-block button-clear ">Category</button>
            <button id="moviePage-button13" style="font-weight:300;" class=" button button-positive  button-block button-clear ">Sort/Filter</button>
        </div>
        <ion-list id="moviePage-list6" class=" ">
            <ion-item class="item-thumbnail-left  " id="moviePage-list-item10">
                <h2>Item 1</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="moviePage-list-item11">
                <h2>Item 2</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="moviePage-list-item12">
                <h2>Item 3</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="moviePage-list-item13">
                <h2>Item 4</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>