<ion-view title="Sell Tab Default Page" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="sellTabDefaultPage-form1" class="list ">
            <ion-list id="sellTabDefaultPage-list3" class=" ">
                <label class="item item-select " id="sellTabDefaultPage-select1" name="Category">
                    <span class="input-label">Choose a Category</span>
                    <select>
                        <option>Movies</option>
                        <option>Concerts</option>
                        <option>Plays</option>
                        <option>Events</option>
                        <option>Others</option>
                    </select>
                </label>
                <label class="item item-input " id="sellTabDefaultPage-input1" name="Item">
                    <span class="input-label">Item Name</span>
                    <input type="text" placeholder="what are you selling?">
                </label>
                <label class="item item-input " id="sellTabDefaultPage-input3" name="Date">
                    <span class="input-label">Show Date</span>
                    <input type="date" placeholder="when is the Show?">
                </label>
                <label class="item item-input " id="sellTabDefaultPage-input7" name="Time">
                    <span class="input-label">Show Time</span>
                    <input type="time" placeholder="when is the Show?">
                </label>
                <label class="item item-input " id="sellTabDefaultPage-input2" name="Price">
                    <span class="input-label">Price</span>
                    <input type="number" placeholder="Set a price">
                </label>
                <label class="item item-input " id="sellTabDefaultPage-input8" name="Location">
                    <span class="input-label">Area</span>
                    <input type="text" placeholder="Show Location">
                </label>
                <label class="item item-input " id="sellTabDefaultPage-input9" name="City">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="Choose a City">
                </label>
            </ion-list>
            <button id="sellTabDefaultPage-button6" style="color:#080808;" class=" button button-energized  button-block icon ion-happy-outline ">SELL NOW</button>
        </form>
    </ion-content>
</ion-view>